.header {
    height: 70px;
    background: orange;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}

.value {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
}

.text {
    font-size: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding-top: 1px;
    outline: none;
    cursor: pointer;
}

label {
    display: block;
}

.div-end {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

.border-cover {
    border-width: 1px 1px 0px 1px;
    border-color: lightgrey;
}

li:hover {
    background: lightgrey;
}

.module-list {
    /* height: 77%;
    overflow: auto; */
}

@media screen and (max-width: 1000px) {
     ::ng-deep .region-dropdown .ui-dropdown {
        min-width: 10em;
    }
     ::ng-deep .calendar-input.ui-inputtext {
        max-width: 10em;
    }
}