<div class="w-100 h-100 border-cover">
    <div class="w-100 font-bold header">
        <i class="fa fa-bar-chart px-2" aria-hidden="true"></i> Module Management
    </div>
    <div style="width:100%;height:calc(100% - 70px);">
        <div class="pl-2 region-dropdown">
            <label>Filter by region</label>
            <p-dropdown class="px-0" [options]="regions" [(ngModel)]="selectedRegion" (onChange)="onRegionChange($event)"></p-dropdown>
        </div>
        <div class="pl-2 div-end">
            <label>Date Range Filter</label>
            <div class="">
                <p-calendar [(ngModel)]="value" [inputStyleClass]="'calendar-input'"></p-calendar>
            </div>
        </div>
        <div class="w-100 module-list">
            <h1 class="p-2">Module List-11</h1>
            <div *ngFor="let item of items">
                <li style="list-style-type:none" class="p-3" (click)="onModuleClick(item)">{{item}}</li>
            </div>
        </div>
    </div>
</div>