<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<!-- Toolbar -->
<div style="width:100%;height:100%;">
  <div class="toolbar col-12 p-0 m-0" role="banner">
    <div class="col-4 p-0 m-0">
      <i class="fa fa-bars icon-align" aria-hidden="true" (click)="enableMenu()" title="Menu"></i>
      <span class="p-4 font-bold" style="font-size: 18px;vertical-align: middle;">Portal Name</span>
    </div>
    <div class="" style="position:absolute;right:0;">
      <i class="fa fa-refresh p-2" aria-hidden="true" (click)=refreshTime() title="Refresh"></i>
      <span class="font-bold p-2">Data last refershed on: </span>
      <span class="p-2" style="color:orange">{{datetimenow | date:'medium'}}</span>
      <i class="fa fa-bell-o p-2" aria-hidden="true" title="Notifications"></i>
      <span class="notification-badge badge badge-danger">{{notificationCount}}</span>
      <i class="fa fa-cog p-2" aria-hidden="true" title="Settings"></i>
      <i class="fa fa-question-circle-o p-2" aria-hidden="true" title="Help"></i>
      <i class="fa fa-user-circle-o p-2" aria-hidden="true" title="User"></i>
    </div>
  </div>

  <div style="width:100%;height:100%;" class="row m-0" role="main">
    <div *ngIf="enableMenuBar" style="width:20%;height:100%;">
      <app-side-nav></app-side-nav>
    </div>
    <div [ngClass]="enableMenuBar?'w-80':'w-100'" class="p-4" style="background: #f1ecec;">
      <!-- height:100%; -->
      <app-home></app-home>
    </div>
    <div class="w-100 m-0 footer-class">
     <div class="footer-text p-4 font-bold">Copyrights 2020 - Terms and conditions</div>
  </div>
  </div>
</div>
<router-outlet></router-outlet>
